@model IEnumerable<Apollo.Domain.entities.NewsLetter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Last Month</span>
                        <h5>Sends</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="totals">62680</h1>
                        <div class="stat-percent font-bold text-success">3% <i class="fa fa-bolt"></i></div>
                        <small>Total emails</small>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">24Hours</span>
                        <h5>Emails</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="totals24" name="totals24">80,800</h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                        <small>Emails Sent</small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Last Month</span>
                        <h5>Protocols Used</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="no-margins" id="http" name="http">406,420</h1>
                                <div class="font-bold text-navy" id="percenthttp">00%<i class="fa fa-level-up"></i> <small>HTTP</small></div>
                            </div>
                            <div class="col-md-6">
                                <h1 class="no-margins" id="smtp" name="smtp">206,120</h1>
                                <div class="font-bold text-navy"  id="percentsmtp">00% <i class="fa fa-level-up"></i> <small>SMTP</small></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Monthly spend  </h5>
                        <div class="ibox-tools">
                            <span class="label label-primary pull-right">Updated <div id="thedate"></div></span>
                        </div>
                    </div>
                    <div class="ibox-content">

                            <h1 class="no-margins" id="flot-chart1">&nbsp;</h1>
                        <div class="stat-percent font-bold text-info"> &nbsp;</div>
                        <small>&nbsp;</small>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Custom responsive table </h5>
                        <div class="ibox-tools">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    @Html.ActionLink("Create New", "Create")
                                </li>

                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons" class="btn-group">
                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                                    <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.To)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Subject)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.nbrecivers)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.To)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "Newsletters", new { id = item.Id })"> @Html.DisplayFor(modelItem => item.Subject)</a>
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.nbrecivers)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm " }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm " }  ) |


                                                <button class="btn btn-danger btn-sm "  onclick="myFunction(@item.Id)">Delete</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")

    @Scripts.Render("~/plugins/sweetAlert")
    <script>
        var json = '@Html.Raw(ViewBag.a)';
        obj = JSON.parse(json);
        stats = JSON.parse(JSON.stringify(obj.stats));
        delivered = JSON.parse(JSON.stringify(stats[0].delivered));
        document.getElementById("totals").innerHTML = delivered.total;
        document.getElementById("http").innerHTML = delivered.smtp;
        document.getElementById("smtp").innerHTML = delivered.http;
        document.getElementById("thedate").innerHTML = stats[0].time;
        document.getElementById("percenthttp").innerHTML = '%' + ((delivered.smtp / delivered.total) * 100) + '<i class="fa fa-level-up"></i>';
        document.getElementById("percentsmtp").innerHTML = '%' + ((delivered.http / delivered.total) * 100) + '<i class="fa fa-level-up"></i>';

        var json24 = '@Html.Raw(ViewBag.stats24h)';
        obj24 = JSON.parse(json24);
        stats24 = JSON.parse(JSON.stringify(obj24.stats));
        console.log(JSON.stringify(obj24.stats));
        delivered24 = JSON.parse(JSON.stringify(stats24[0].delivered));
        document.getElementById("totals24").innerHTML = delivered24.total;
        var spend = 0.00050 * delivered.total;
        spend = '$ ' + spend.toFixed(10);
        document.getElementById("flot-chart1").innerHTML = spend;
    </script>


    <script>
        function myFunction(ids) {

            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this newsletter!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: '@Url.Action("Delete")/'+ids,
                                type: 'GET',
                                success:function(data) {
                                    swal("Deleted!", "Your newsletter has been deleted.", "success");
                                }
                            });

                            setTimeout(location.reload.bind(location), 3000);
                        } else {
                            swal("Cancelled", "Your newsletter is safe :)", "error");
                        }
                    });
        };


    </script>

}
