@model Apollo.Domain.entities.artwork

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>artwork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descreption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descreption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mediaPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mediaPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.releaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
